
* {
  /* outline: 1px solid red; */
  
}

.searchElement {
  width: auto;
  text-align: center;
}
.searchBox{
  width: 400px;
}

.search{
  display: inline-block;
}

/*********** start login ************/
.login{
  padding: 20px;
}
.header-menu{
  text-decoration: none;
  color: black;
  font-size: medium;
}
.header-menu:hover{
  background: #2196f3;
  color: white;
  font-style: italic;
  border-radius: 3px;
  font-size:large;
  padding: 2px;
}

.signIn{
  margin: auto;
  width: 400px;
}
/*********** end login ************/

/*********** table data **********/
.td {
  text-align: center;
}

textarea {
  height: 40px;
  width: 300px;
}
/*********** end data **********/

.shopPage {
  width: 600px;
  margin: auto;
}

.checkout {
  margin: auto;
  width: 400px;
}

.frontPage{
  text-align: center;
  margin-top: 50px;
}

small{
  font-weight: 300;
}

.detailHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteButton {
  background-color: #912619;
  color: white;
  width: 140px;
}
.textBox{
  width: 300px;
}

.addButton, .editButton {
  background-color: #2277EA;
  color: white;
  width: 140px;
  padding: 2px;
  font-weight: bold;
  font-family: cursive;
  font-size: medium;
  margin-left: 60px;
}

.createForm, .editForm {
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.listHeader, .editHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


table {
  padding: 5px;
}
.productPage{
  text-align: center;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  padding: 0px 5px 20px 20px;
  margin-bottom: 50px;

}

.productDescription{
  text-align: left;
  width: 180px;
}

.productBio{
  text-align: left;

}

.productDetails{
  display: flex;
  justify-content: space-between;
  margin: auto;
  
}

.formInput{
  display: flex;
  justify-content:space-between;
  margin: 20px;

}

label,select{
  width: 400px;
}

.updateButton, .editPage{
  text-align: center;
}
.productForm {
  width: 500px;
  
}

.home {
  text-decoration: none;
  color: black;
  font-size: large;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

button {
  box-shadow: 2px 2px 2px black;
}

table, th, td {
  border: 1px solid black;
}

.product {
  display: flex;
  margin: auto;
  background-color: lightblue;
  flex-direction: column;
  width: 500px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  font-weight: 450;
  text-align: center;
}

.imgproduct{
  width: 250px;
}

.error-text{
  color: red;
  margin-left: 25px;
  margin-bottom: 25px;
}

.App {
margin: auto;
width: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
