body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  rgba(255, 255, 255, 0.8)  url("https://i.pinimg.com/originals/03/83/7c/03837cf4578ef823a60536b332b21eaa.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: lighten;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
